.DS_Store
.env
.env.development
.env.production
/node_modules/

# React Router
/.react-router/
/build/
/.yarn/
.pnp.*
/.claude/
/.idea
/playwright-report/
/test-results/
/blob-report/
/*.iml
/.cli
# template placeholders
_templates/react_template/app/features/services/.gitkeep
_templates/react_template/app/features/generated/hooks/.gitkeep
_templates/react_template/app/features/widgets/.gitkeep
